.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 20px;
}
.logo {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(68, 76, 88, 0.5);
  overflow: hidden;
}
.logoContainer {
  width: 30px;
  height: 30px;
  margin: 10px 20px;
}
.search {
  padding: 10px;
  margin: 10px 20px;
  background-color: #617ead;
  border: 1px solid #617ead;
  border-radius: 5px;
  color: #fff;
  caret-color: #fff;
}
::placeholder {
  color: #fff;
}
.search:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(68, 76, 88, 0.5);
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.details a {
  text-decoration: none;

  color: #2d3c40;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.details a:hover {
  background-color: #48502f;
  color: #fff;
}
